# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Docker
.docker/

# Airflow
airflow/logs/
airflow/plugins/

# ML
ml/saved_models/*.pt
ml/saved_models/*.pkl

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
